{% extends "./webcentral.html" %}
{% block body %}

 <center><h1>DOCUMENTACION y INFORMACION</center>
    
    <section>
        <table>
            <thead>
                <tr>
                    <th>Lenguaje</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Python</td>
                    <td>Un lenguaje de programación interpretado, fácil de aprender y muy utilizado en ciencia de datos, desarrollo web y automatización.</td>
                </tr>
                <tr>
                    <td>JavaScript</td><br>
                    <td>Lenguaje de programación utilizado principalmente para desarrollo web, permitiendo interactividad en las páginas.</td>
                </tr>
                <tr>
                    <td>Java</td>
                    <td>Un lenguaje de programación orientado a objetos ampliamente utilizado en aplicaciones empresariales y móviles.</td>
                </tr>
                <tr>
                    <td>C++</td>
                    <td>Una extensión del lenguaje C, utilizado en desarrollo de sistemas, videojuegos y aplicaciones de alto rendimiento.</td>
                </tr>
                <tr>
                    <td>Ruby</td>
                    <td>Un lenguaje dinámico y orientado a objetos, conocido por su simplicidad y utilizado en desarrollo web con Ruby on Rails.</td>
                </tr>
                <tr>
                    <td>PHP</td>
                    <td>Un lenguaje de programación diseñado para desarrollo web, especialmente para crear sitios dinámicos.</td>
                </tr>
                <tr>
                    <td>Swift</td>
                    <td>Un lenguaje creado por Apple para desarrollar aplicaciones para iOS y macOS.</td>
                </tr>
                <tr>
                    <td>Go</td>
                    <td>Un lenguaje de programación desarrollado por Google, conocido por su eficiencia y simplicidad en aplicaciones de red y sistemas.</td>
                </tr>
                <tr>
                    <td>Kotlin</td>
                    <td>Un lenguaje moderno y conciso que se utiliza principalmente para desarrollo de aplicaciones Android.</td>
                </tr>
                <tr>
                    <td>Rust</td>
                    <td>Un lenguaje enfocado en la seguridad y el rendimiento, utilizado en sistemas y aplicaciones de bajo nivel.</td>
                </tr>
            </tbody>
        </table>
    </section>

{% endblock %}

